<a href="https://colab.research.google.com/github/seanpark002/SCM_BOOSTCOURSE/blob/main/4_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 딕셔너리의 결과가 아래와 같이 나오도록 아래의 문자열을 변경해 보세요.
```
{'경기': '031',
'강원': '033',
'충남': '041',
'충북': '043',
'경북': '054',
'경남': '055',
'전남': '061',
'전북': '063'}
```

In [ ]:
# 아래의 문자를 딕셔너리 형태로 변경하기
phone = ">경기 031 >강원 033 >충남 041 >충북 043 >경북 054 >경남 055 >전남 061 >전북 063"
# ">" 문자를 기준으로 문자열을 나눕니다. => split() 으로 리스트로 변환
# for문으로 리스트를 반복해서 phone_dict 에 채웁니다.
phone

'>경기 031 >강원 033 >충남 041 >충북 043 >경북 054 >경남 055 >전남 061 >전북 063'

In [ ]:
# split 을 통해 문자열을 나눕니다.
# phone_list
phone_list = phone.split(">")
phone_list

['',
 '경기 031 ',
 '강원 033 ',
 '충남 041 ',
 '충북 043 ',
 '경북 054 ',
 '경남 055 ',
 '전남 061 ',
 '전북 063']

In [ ]:
phone_list[0
           ]

''

In [ ]:
phone_list[1]

'경기 031 '

In [ ]:
phone_dict = {}
for p in phone_list :
    p_split = p.split()
    if len(p_split) > 0:
        key = p_split[0]
        val = p_split[1]
        phone_dict[key] = val
        print(key, val)

경기 031
강원 033
충남 041
충북 043
경북 054
경남 055
전남 061
전북 063

In [ ]:
phone_dict["강원"]

'033'